<!-- begin comments -->
<div class="comments">
  <div id="disqus_thread"></div>
  <script>
    (function () {
      var d = document, s = d.createElement('script');
      s.src = '//{{ site.data.settings.disqus-identifier }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <div class="fb-comment-embed" data-href="<div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-numposts="5"></div>" data-include-parent="false" data-width=""></div>
  
</div>
<!-- end comments -->
